<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
    <!-- for accesing ejs variable, variable we have to write it in <%=%> sign  -->
    <h1>Welcome, <% user.name %></h1>
    <h3>Email: <% user.email %></h3>
    <h3>City: <% user.country %></h3>

</body>
</html>